body, * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-size: 30px;
    text-align: center;
    font-family: Arimo;
    color: #03045e;
}
body {
    background-color: #32506d;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.488rem;
}
 
.section {
    margin: 60px 650px;
    background-color: rgb(104, 140, 173);
    border: 2px solid rgb(203, 223, 233);
    border-radius: 10px;
    padding: 50px;
}

a {
    display: block;
}

.top {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: rgb(104, 140, 173);
    color: rgb(31, 34, 36); 
}

.section__image { 
    margin: 100px 0;
}

.section__link {
    margin: 50px 0;
}

img {
    width: 400px;
    height: 400px;
    /* since i changed both width and height, the image ratios are distorted 
    BUT i dont think it looks bad and changing the ratio made the images look  nicer next to the text
    */
    border-radius: 50px;
}

#whalenlink {
    /* indeed mikewhalen.tech was very useful */        
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 1.44rem;
}

#section__image--one {
    order: 0;
}

#section__image--two {
    order: 1;
} 
#section__image--three {
    order: 0;
}

.row {
    display: flex;
    margin: 50px;
    gap: 50px;  
    align-items: center
}